LETSENCRYPT_EMAIL="admin@an-example-domain.com"
DOCKER_REGISTRY_DOMAIN="registry.example.com"
DOCKER_REGISTRY_TLS_SECRET_NAME="registry.examplecom-tls"
DRONE_DOMAIN="drone.example.com"
DRONE_TLS_SECRET_NAME="drone.examplecom-tls"
FOOBARQIX_DOMAIN="example.com"
FOOBARQIX_TLS_SECRET_NAME="examplecom-tls"
