DRONE_RPC_SECRET="randomly-generated-secret"
DRONE_GITHUB_CLIENT_ID="github-client-id"
DRONE_GITHUB_CLIENT_SECRET="github-client-secret"
DOCKER_REGISTRY_USERNAME="docker-registry-username"
DOCKER_REGISTRY_PASSWORD=docker"-registry-password"
DOCKER_REGISTRY_HTPASSWD="generate-with-the-script--generate-docker-registry-htpasswd.sh"
DOCKER_REGISTRY_HA_SHARED_SECRET="randomly-generated-secret"